# Ignore artifacts:
build
coverage

node_modules

# Ignore all HTML files:
*.html

.github

.next

.swc

next.config.js

next-i18next.config.js
t4font.config.ts
src/api/types-sync.ts
scripts/genAntdCss.tsx
scripts/genColorCss.js
.dockerignore
