.sidebar {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 176px;
  border-right: 1px solid #666;
  background-color: var(--background);
  flex-shrink: 0;
  overflow-y: auto;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .sidebar.show {
    display: block;
  }
}

.header {
  padding: 6px 8px;
  font-weight: 700;
  font-size: 14px;
}

.section {
}

.sectionTitle {
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
  margin: 24px 8px 8px;
  color: var(--tertiary);
}

.xIcon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
