.code-blocks {
  position: relative;
}

.code-blocks-title {
  border-radius: 6px;
  background-color: #090909;
}

.code-blocks-title h5 {
  margin: 0;
  padding: 4px;
  color: #878787;
  border-bottom: 1px solid #505050;
  font-size: 12px;
  font-style: italic;
}

.code-blocks-title .circle1,
.code-blocks-title .circle2,
.code-blocks-title .circle3 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(1px);
}

.code-blocks-title .circle1 {
  background-color: #ff5f56;
}

.code-blocks-title .circle2 {
  background-color: #ffbd2e;
  margin: 0 5px;
}

.code-blocks-title .circle3 {
  background-color: #27c93f;
  margin: 0 8px 0 0;
}

.code-blocks-pre {
  position: relative;
  margin: 0 0 16px;
}

.code-blocks-lang {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1;
  font-size: 10px;
  color: #ff9e0466;
}

.btn-copy {
  opacity: 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 1px solid #555555;
  background-color: #110e0e;
  border-radius: 4px;
  outline: none;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-blocks:hover .btn-copy {
  opacity: 1;
}

.btn-copy svg {
  width: 16px;
}

.code-blocks pre {
  position: relative;
  padding: 24px 0;
  overflow-x: auto;
  background-color: #090909 !important;
  --shiki-dark-bg: #090909;
  --shiki-dark: #dbd7caee;
  border-radius: 6px;
  /* background: transparent;
  overflow: overlay;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; */
}

.code-blocks pre > code {
  padding: 0 24px;
  display: block;
}

.code-blocks pre .line {
  /* line-height: 1.7; */
  font-size: 14px !important;
}

.code-blocks-pre :not(pre, h1, h2, h3, h4, h5, h6) > code {
  color: #8cccd5;
}

.code-blocks-pre .tab,
.code-blocks-pre .space {
  position: relative;
}

.code-blocks-pre .tab::before {
  content: '⇥';
  position: absolute;
  opacity: 0.3;
}

.code-blocks-pre .space::before {
  content: '·';
  position: absolute;
  opacity: 0.3;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0 0 16px;
}

h1 {
  font-size: 34px;
  line-height: 46px;
}

h2 {
  font-size: 26px;
  line-height: 36px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 14px;
  line-height: 22px;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
p code,
ul code {
  background: #343434 !important;
  border-radius: 4px;
  padding: 4px;
}

details {
  border-radius: 6px;
  margin-bottom: 16px;
  background-color: #333;
  padding-bottom: 1px;
}

summary {
  background-color: #555;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  user-select: none;
}

details[open] summary {
  background-color: #666;
}

details > p,
details > h4 {
  padding: 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #848484;
}

table img {
  width: initial;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #848484;
}

thead th:not(:last-child),
tbody td:not(:last-child) {
  border-right: 1px solid #848484;
}

th {
  background-color: #232121;
}

tr:hover {
  background-color: #232121;
}

.heading-anchor {
  position: relative;
}

.heading-anchor:hover .anchor {
  opacity: 1;
}
.anchor {
  position: absolute;
  padding: 0 5px 0 0;
  left: -20px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.markdown-group-tab {
  margin: 0 0 8px;
}
.markdown-code-group .code-blocks-group {
  display: none;
}

.markdown-code-group .code-blocks-group.active {
  display: block;
}
