.index {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: auto;
}

.meta {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-mono);
  font-size: 14px;
  line-height: 1;
  color: var(--tertiary);
}

.content {
  color: var(--secondary);
}

.content h1 h2 h3 {
  margin-top: 32px;
  margin-bottom: 8px;
}

.content a {
  color: var(--accent);
  text-decoration: underline;
}

.mono {
  font-family: var(--font-mono);
  line-height: 1.8em;
  font-size: 16px;
  word-wrap: break-word;
}

.description {
  color: var(--secondary);
  letter-spacing: -0.02em;
  max-width: 710px;
}

.default {
  display: flex;
  position: relative;
  z-index: 1;
}

.blog {
  display: flex;
}

.aside {
  position: fixed;
  left: 176px;
  top: 0;
  bottom: 0;
  width: 288px;
  border-right: 1px solid #666;
  background-color: var(--background);
  flex-shrink: 0;
  padding: 10px;
  overflow: auto;
}

@media screen and (max-width: 1024px) {
  .aside.show {
    display: block;
  }

  .aside {
    width: 100%;
    height: 100vh;
    display: none;
    border: none;
    left: unset;
    position: relative;
  }
}

.post {
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 14px;
  display: block;
  border-radius: 0.5rem;
}

.post .title {
  font-weight: 500;
}

.date {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-family: var(--font-mono);
  white-space: nowrap;
  font-size: 12px;
  margin-top: 4px;
  text-transform: uppercase;
  font-feature-settings: 'tnum';
  font-variant: tabular-nums;
  color: var(--tertiary);
}

.postContainer {
  width: 100%;
  padding-left: 288px;
}
@media screen and (max-width: 1024px) {
  .postContainer {
    margin-top: 48px;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .postsContainer {
    margin-top: 48px;
  }
}

.postHeader {
  margin-bottom: 32px;
}

.postSubheader {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
}

.postTitle {
  font-size: 40px;
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 1.2em;
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 0.5rem;
  transition: all 300ms ease-in-out;
  margin: 0 0 4px;
}

.link:hover,
.link:active,
.link:focus {
  color: var(--accent);
  background-color: #492c0085;
}

.activeLink {
  color: var(--accent);
  background-color: #492c0085;
}

.articlePost {
  padding: 32px 10px 80px;
}

.onlyMobile {
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .onlyMobile {
    display: none !important;
  }
}

.button {
  border: none;
  outline: 0;
  background-color: transparent;
  color: #ccc;
  color: var(--secondary);
  line-height: 1em;
  cursor: pointer;
}

.button,
.default {
  margin: 0;
  padding: 0;
}

.folderName {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--accent);
}

.issuesItem {
  margin: 0 0 12px;
}

.folderName + nav {
  padding: 0 10px;
}
